<?xml version="1.0"?>

<ruleset name="Orbis Deals">
	<file>.</file>

	<exclude-pattern type="relative">^build/*</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="Squiz.Commenting" />

		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.Found" />
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed" />

		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />

		<exclude name="WordPress.Security.ValidatedSanitizedInput.InputNotSanitized" />

		<exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited" />

		<exclude name="WordPressVIPMinimum.Hooks.PreGetPosts.PreGetPosts" />
	</rule>

	<rule ref="WordPress.Utils.I18nTextDomainFixer">
		<properties>
			<property name="old_text_domain" type="array">
				<element value="orbis_deals" />
			</property>

			<property name="new_text_domain" value="orbis-deals" />
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="orbis-deals" />
			</property>
		</properties>
	</rule>
</ruleset>
