<?xml version="1.0"?>

<ruleset name="Orbis Deals">
	<file>.</file>

	<exclude-pattern type="relative">^build/*</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="Squiz.Commenting" />

		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.Found" />
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed" />

		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />

		<exclude name="WordPress.Security.ValidatedSanitizedInput.InputNotSanitized" />

		<exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited" />

		<exclude name="WordPressVIPMinimum.Hooks.PreGetPosts.PreGetPosts" />
	</rule>
</ruleset>
